@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #981316;
}

body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d9d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: var(--primary-color);
}

.user-center--icons svg {
  margin: 10px 35px;
}
